.root{
--pepperoni:#61120E
--tomato:#ca2521
--gamboge:#ECA442
--delta:#A5A79A
}
body{
background:var(--delta) ;
color: black;
}
.navbar a{
  color: white;
}
.para{
  color: white;

}
.card{
  background-color: #ECA442;
}
.dropbtn {
  background-color: #ca2521;
  color: white;
  padding: 4px; 
  font-size: 16px;
  border: none;
  height: 35px;
  width: 200px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ce1d1d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #A5A79A;}

/* #f1f1f1 */